		form {
		 font-size: 12px;
		}
		
		fieldset{
			padding: 1em;
			font: 80% sans-serif;
		}
		
		label{
			display:inline-block;
			display:inline;
			zoom:1;
			float: left;;
			padding-top: 5px;
			text-align: right;
			width: 140px;
			font-weight: bold;
		}
		input{
			margin-top: 5px;
			margin-bottom: 5px;
			display: inline-block;
			display: inline;
			zoom:1;
			vertical-align: middle;
			margin-left: 20px;
		}
		
				select{
			margin-top: 5px;
			margin-bottom: 5px;
			display: inline-block;
			display: inline;
			zoom:1;
			vertical-align: middle;
			margin-left: 20px;
		}
		
		
		div.message{
			color:green;
			font-weight:bold;
			font-style:italic;
			font-size:10pt;
		}
		
		div#vendor{
			width: 400px;
			margin: auto;
		}